:root {
    --brand-primary: #0879c9;
    --brand-primary-medium: #06568f;
    --brand-primary-dark: #003758;
    --brand-secondary: #fbbc1e;
    --background-color: white;
    --dark-gray: #555;
    --light-gray: #ccc;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background-color);
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: var(--dark-gray);
    background-color: var(--background-color);
    background-image: none;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
