.account-widget {
    display: flex;
    position: relative;
}

.account-widget > input[type='checkbox'] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.account-widget > div > i {
    margin: 7px;
    color: white;
}
.account-widget > div > i.fa-chevron-down {
    font-size: 18px;
}
.account-widget > div > i.fa-user {
    font-size: 25px;
}
